html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button1 {
    width: 109px;
    height: 38px;
    padding: 9px 15px;
    background: #FFEE99;
    border: 1px solid #E6E4E1;
    border-radius: 4px 0px 0px 4px;
}

.button2 {
    width: 113px;
    height: 38px;
    padding: 9px 15px;
    border: 1px solid #E6E4E1;
}

.button3 {
    width: 155px;
    height: 38px;
    padding: 9px 15px;
    border: 1px solid #E6E4E1;
    border-radius: 0px 4px 4px 0px;
}