html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
}

.dropdownmenu {
    width: 236px;
    height: 183px;
    color: #FF6502;
}

.dm {
    margin-bottom: 12px;
    font-size: 14px;
}

hr {
    border: none;
    margin: 0px 0px 12px 0px;
    background-color: #E5E4E1;
    color: #E5E4E1;
    width: 200px;
    height: 1px;
}