    html {
        box-sizing: border-box;
    }
    
    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }
    
    .line_hover {
        width: 973px;
        height: 110px;
        background: #FFFFFF;
    }
    
    .actions {
        width: 168px;
        height: 32px;
        background: #FFFFFF;
        display: flex;
        align-items: center;
    }
    
    .button1 {
        width: 128PX;
        height: 32px;
        background: #FFFFFF;
        border: 1px solid #FF6502;
    }
    
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .btn {
        border: 1px solid #FF6502;
        border-radius: 4px;
        width: 264px;
        height: 38px;
        color: #FF6502;
        background: #ffffff;
        margin-bottom: 14px;
    }
    
    .button3 {
        border: 1px solid #FFC29B;
        background: #FFC29B;
        color: #ffffff;
    }