<div class="card-body">
  <div class="number-status-wrapper">
    <div class="card-number"><span>{{testCandidate.cardNumber}}</span></div>
    <div class="candidate-status"><span>{{testCandidate.status}}</span></div>
  </div>
  <div class="fio-wrapper">
    <span>{{testCandidate.fio}}</span>
  </div>
  <div class="date-of-birth-wrapper">
    <span>{{testCandidate.dateOfBirth}}</span>
  </div>
  <div class="position-wrapper">
    <span>{{testCandidate.position}}</span>
  </div>
  <div class="city-wrapper">
    <span>{{testCandidate.city}}</span>
  </div>
  <div class="phone-wrapper">
    <span>{{testCandidate.tel}}</span>
  </div>
  <div class="web-site-wrapper">
    <span>{{testCandidate.site}}</span>
  </div>
  <div class="date-wrapper">
    <span>{{testCandidate.someDate}}</span>
  </div>
  <div class="btn-box">
    <button class="btn-primary-inversion btn"><span>Взяти в роботу</span></button>
    <button class="btn-primary-inversion btn" disabled><span>Інши анкети кандидата</span></button>
    <button class="btn-primary-inversion btn" disabled><span>Історія</span></button>
  </div>
</div>
