    html {
        box-sizing: border-box;
    }
    
    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }
    
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .btn {
        border: 1px solid #FF6502;
        border-radius: 4px;
        width: 264px;
        height: 38px;
        color: #FF6502;
        background: #ffffff;
        padding: none;
    }
    
    .button1 {
        margin-bottom: 14px;
    }
    
    .button2 {
        margin-bottom: 14px;
    }
    
    .button3 {
        width: 264px;
        height: 38px;
        border: 1px solid #FF6502;
        border-radius: 4px;
        background: #FFC29B;
        margin-bottom: 14px;
        color: #ffffff;
    }