html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
}

.dropdownmenu {
    width: 236px;
    height: 183px;
    color: #FF6502;
}