html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
}

.dropdownmenu {
    width: 236px;
    height: 183px;
    color: #FF6502;
}

.text2 {
    margin-bottom: 12px;
}

.text3 {
    margin-bottom: 12px;
}

.text4 {
    margin-bottom: 12px;
}

.text5 {
    margin-bottom: 12px;
}