html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
}

.dropdownmenu {
    width: 236px;
    height: 183px;
    color: #FF6502;
}

.divider {
    width: 200px;
    height: 1px;
}

.dm {
    margin-bottom: 12px;
}

hr {
    border: none;
    background-color: #E5E4E1;
    width: 200px;
    height: 1px;
}

.text2 {}

.text3 {}

.text4 {}

.text5 {}